NITRO_PORT="3000"
NUXT_PUBLIC_API_URL="http://{BACKEND_IPADDRESS}:{BACKEND_PORT}/api"
NUXT_PUBLIC_SOCKET_IO_URL="http://{BACKEND_IPADDRESS}:{BACKEND_PORT}"
NUXT_IMAGE_BASE_URL="http://{MINIO_IPADDRESS}:9000"